<div class="pt-md-5 pb-md-5">

  <div class="container-fluid pt-3 pb-3 pl-md-5 pr-md-5 pb-md-5 pt-md-0">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-8">

        <h1 class="display-4 text-primary router-animate-child mb-3">About page</h1>
        <p class="lead router-animate-child">Nostrud Lorem tempor esse nostrud reprehenderit non in anim qui. Ad velit qui ullamco mollit sint aliqua in laboris incididunt. Sit duis aliqua ea labore adipisicing aute.</p>

      </div>
    </div>
  </div>

</div>

<div class="container-fluid pb-5 pl-md-5 pr-md-5">
  <div class="row">
    <div class="col-12">

      <ul class="list-group" *ngIf="todos.length">
        <li
          class="list-group-item list-group-item-dark router-animate-child"
          *ngFor="let item of todos">
          {{ item.title }}
        </li>
      </ul>

      <ng-template #noItems>
        <p class="lead">No items to display</p>
      </ng-template>

    </div>
  </div>
</div>
