<div class="jumbotron jumbotron-fluid">

  <div class="container-fluid p-5">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-8">

        <h1 class="display-2 text-primary">About page</h1>
        <p class="lead">Nostrud Lorem tempor esse nostrud reprehenderit non in anim qui. Ad velit qui ullamco mollit sint aliqua in laboris incididunt. Sit duis aliqua ea labore adipisicing aute.</p>

      </div>
    </div>
  </div>

</div>

<div class="container-fluid pb-5 pl-5 pr-5">
  <div class="row">
    <div class="col-12">

      <ul class="list-group" *ngIf="todos?.length; else noItems">
        <li class="list-group-item" *ngFor="let item of todos | slice: 0:20">
          {{ item.title }}
        </li>
      </ul>

      <ng-template #noItems>
        <p class="display-4">No items to display</p>
      </ng-template>

    </div>
  </div>
</div>
