@import "../scss/helpers";

:host {
  display: flex;
  justify-content: stretch;
  min-height: 100vh;
}

.nav-container {
  flex: 1 1 7.5rem;
  position: relative;
  z-index: $zindex-fixed;
}

.router-container {
  flex: 2 1 calc(100vw - 7.5rem);
  position: relative;

  & > ::ng-deep * {
    display: block;
  }
}
