<nav class="nav-container bg-dark pt-md-5">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link text-center" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-center" routerLink="/about" routerLinkActive="active">About</a>
    </li>
  </ul>
</nav>

<div class="router-container" [@routeAnimation]="prepRouteState(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
