//
// Nav
// --------------------------------------------------

.nav {
  flex-direction: row;
  flex-wrap: nowrap;
}

.nav-link {
  color: $white;

  &.active {
    color: $orange;
  }
}

@include media-breakpoint-up(sm) {
  .nav {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
